################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/b2sbackglassdesigner/.vs/B2SBackglassDesigner
/b2sbackglassdesigner/b2sbackglassdesigner/bin/
/b2sbackglassdesigner/b2sbackglassdesigner/forms/*.resx
/b2sbackglassdesigner/b2sbackglassdesigner/obj
/b2sbackglassdesigner/b2sbackglassdesigner/classes/Base classes/*.resx
*.resx